VERSION
*.ko
*.cmd
*.o
*.mod.c
Module.symvers
modules.order
.tmp_versions
*~
ChangeLog
autom4te.cache
INSTALL
config.log
config.h
config.status
stamp-h1
/Makefile
standalone/Makefile
standalone/drivers
standalone/include
standalone/modules
standalone/patched
standalone/series
standalone/mISDN.cfg
standalone/misdn.sed
standalone/mISDN.cfg.D
standalone/mISDN.cfg.M
standalone/misdn.configs
standalone/.patchOK
DEADJOE
