VERSION
*.ko
*.cmd
*.o
*.mod.c
Module.symvers
modules.order
.tmp_versions
*~
ChangeLog
standalone/mISDN.cfg
autom4te.cache
install-sh
INSTALL
standalone/Makefile
/Makefile
standalone/drivers
standalone/include
