#
# modularer ISDN driver
#

config MISDN_HFCPCI
	tristate "Support for HFC PCI cards"
	depends on PCI
	help
	  Enable support for card with Cologne Chips Design HFC PCI based
	  cards.

config MISDN_HFCMULTI
	tristate "Support for HFC multiport cards (HFC-4S/8S/E1)"
	depends on PCI || 8xx
	depends on MISDN
	help
	  Enable support for cards with Cologne Chip AG's HFC multiport
	  chip. There are three types of chips that are quite similar,
	  but the interface is different:
	   * HFC-4S (4 S/T interfaces on one chip)
	   * HFC-8S (8 S/T interfaces on one chip)
	   * HFC-E1 (E1 interface for 2Mbit ISDN)

config MISDN_HFCMULTI_8xx
	boolean "Support for XHFC embedded board in HFC multiport driver"
	depends on MISDN
	depends on MISDN_HFCMULTI
	depends on 8xx
	default 8xx
	help
	  Enable support for the XHFC embedded solution from Speech Design.

config MISDN_HFCUSB
	tristate "Support for HFC-S USB based TAs"
	depends on USB
	help
	  Enable support for USB ISDN TAs with Cologne Chip AG's
	  HFC-S USB ISDN Controller

config MISDN_XHFC
	tristate "Support for XHFC PCI2PI evalboard"
	depends on PCI
	help
	  Enable support for Cologne Chips AG's XHFC Evaluation Card

config MISDN_L1LOOP
        tristate "Support for virtual ISDN loop devices"
        help
          Enable support for mISDN_l1loop to use virtual ISDN devices connected
          to virtual bus system
