#
# modularer ISDN driver
#

menu "Modular ISDN driver"
	depends on NET && ISDN_BOOL && ISDN_CAPI!=n

config MISDN_DRV
	tristate "Support modular ISDN driver"
	help
	  Enable support for the modular ISDN driver.
          This driver is the successor of the famous HiSax driver.

if MISDN_DRV!=n

config MISDN_AVM_FRITZ
	bool "Support for AVM Fritz!Cards"
	depends on PCI || ISA
	help
	  Enable support for AVM Fritz!Card PCI and PnP.

config MISDN_HFCPCI
	bool "Support for HFC PCI cards"
	depends on PCI
	help
	  Enable support for card with Cologne Chips Design HFC PCI based
	  cards.

config MISDN_SPEEDFAX
	bool "Support for Sedlbauer Speedfax+"
	depends on PCI || ISA
	help
	  Enable support for Sedlbauer Speedfax+.

config MISDN_DSP
	bool "Digital Audio Processing of transparent data"
	help
	  Enable support for digital audio processing capability.
	  This module may be used for special applications that require
	  cross connecting of bchannels, conferencing, dtmf decoding and
	  tone generation. It may use hardware features if available.
	  E.g. it is required for PBX4Linux. Go to http://isdn.jolly.de
	  and get more informations about this module and it's usage.
	  If unsure, say 'N'.

endif

endmenu
